{% extends 'blog/base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block content %}
<div style="background-color:#f4f5dc;border-radius:40px">
  <div class="container">

    <br>
<h3 class="about">Hi! I am Sreeram. This is my first website of many. Blog'n can be used to share your thoughts and  <br>
   opinions as blogposts. However, please be respectful of all users and follow the rules and regulations. <br>
    It's a honour to be your admin! Last but not the least, Have fun!<br> Feel free to contact me at:<br><br>
    <strong><span class="glyphicon glyphicon-envelope" style="font-size:1.1em;position:justify;left:5px"></span></strong>  rsreeram24@gmail.com <br>
    <a href="https://instagram.com/ooo.o_o.o.o.o_o.o_.__?igshid=x7py5r6iolz2"><img style="height:40px;width:40px" src="{% static 'IMAGES/insta.webp' %}" alt="">  @S.R.E.E.R.A.M</a></h3><br><br><br>
    <h2 class="about"><strong>RULES AND REGULATIONS:</strong></h2>
    <h4 class="about">Since every person has to enjoy their time in this website, the below rules shouldn't be violated </h4>
    <ol>
      <li class="about">Users found to post offensive or disrespectful content will be warned and the respective posts or comments will be deleted. <br>
      Repeat offences may lead to the suspension or deletion of the user account.</li>
      <li class="about">if a user is found to impersonate another person or user , the user account will be deleted. </li>
      <li class="about">We have zero-tolerance towards cyber-bullying.</li>
      <li class="about">Highly explicit posts will be deleted and the user account is subjected to the same.</li>
    </ol><br>
    <h5>Special thanks to my udemy instructor <strong>Jose Portilla , the head of Data Science at Pierian Data Inc.</strong> <br>
    Thanks to <strong>Codemy.com</strong></h5>

  </div>
</div><br><br>
{% endblock %}
