{% extends "blog/base.html" %}

{% block title %}Create Comment{% endblock %}

{% block content %}
<div class="jumbotron" style="text-align:left">
  <h3>New Comment</h3>
  <form class="post-form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <p><strong>*Note: Anything inappropriate will be deleted by the Admin</strong></p>
    <button type="submit" class="save btn btn-primary">Post Comment</button>
  </form>
</div>

  <script>
    var editor = new MediumEditor('.editable')
  </script>
{% endblock %}
